[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker = "*"
jupyterhub = "*"
python-gitlab = "*"
requests-oauthlib = "*"
Flask = "*"
escapism = "*"

[dev-packages]

[requires]
python_version = "3.6"
