[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker = "*"
jupyterhub = "*"
python-gitlab = "*"
requests-oauthlib = "*"
flask = "*"
escapism = "*"
kubernetes = "*"
gunicorn = "*"
gevent = "*"
requests = "*"

[dev-packages]
chartpress = "*"

[requires]
