[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker = "*"
python-gitlab = "*"
flask = "*"
escapism = "*"
kubernetes = "*"
gunicorn = "*"
requests = "*"
pyyaml = ">=4.2b1"
"urllib3" = ">=1.24.2"
sentry-sdk = {extras = ["flask"],version = "*"}
gevent = "*"
flask-apispec = "*"
flask-swagger-ui = "*"
pyjwt = "<2.0.0"

[dev-packages]
pylint = "*"
chartpress = "*"
flake8 = "*"
pytest-flake8 = "*"
pytest = "*"
black = "==21.9b0"
pre-commit = "*"
pytest-black = "*"
pytest-cov = "*"
notebook = "*"
pytest-mock = "*"
ptvsd = "~=4.2"
importlib-metadata = "*"
typed-ast = "*"

[requires]

[pipenv]
allow_prereleases = true
