[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
dataconf = "*"

[dev-packages]
pylint = "*"
flake8 = "*"
pytest-flake8 = "*"
pytest = "*"
black = "*"
pytest-black = "*"
pytest-cov = "*"
pytest-mock = "*"
typing-extensions = "*"

[requires]

[pipenv]
allow_prereleases = true
